VITE_SUPABASE_URL=https://vdknswnqaagyriaplwof.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZka25zd25xYWFneXJpYXBsd29mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4NTg5NzksImV4cCI6MjA3MDQzNDk3OX0.-4xxV8ZSJpLVfzWOiQZuEANU2sCjvqpk7gH8T2_2PMI